<h2>Did They Play? - FAQ</h2>
<dl>
	<dt>What can you do with this site?</dt>
	<dd>Let's say you've got someone that you believe is lying about their Warcraft playing. Maybe they tell you they have to work late instead of seeing a movie with you. Just put in their character's name, their server, and your email address. Then you'll get email alerts whenever they play.</dd>
	<dt>Do you sell or redistribute my email address?</dt>
	<dd>No. Not at all.</dd>
	<dt>Can I advertise on your site?</dt>
	<dd>I'm not really interested right now- sorry. Maybe if you're talking crazy money.</dd>
	<dt>How do I know its working?</dt>
	<dd>The tingle tells you its working! Umm, actually, I dunno. Log onto the armory manually to see if there have been changes?</dd>
	<dt>Can't you just see this stuff on the Armory? Why would anyone use it?</dt>
	<dd>If I'm your mom/boss/girlfriend, I don't feel like logging on there daily to see if you're playing. This sends emails, nice and simple. Right to your crackberry!</dd>
	<dt>Does your site alert the user that they are being tracked</dt>
	<dd>Nope! Where would the fun in that be?</dd>
	<dt>Where does this site get it's information?</dt>
	<dd>All data displayed here is straight from Blizzard's public <a href="http://wowarmory.com/">World of Warcraft Armory</a>. This is public, readily available data that Blizzard has made data feeds available of.</dd>
	<dt>Does it capture 100% of gameplay?</dt>
	<dd>Nope. If the user logs in, and doesn't really do anything then the Armory won't log it, and we don't get notification of it</dd>
	<dt>Does it say how long they played?</dt>
	<dd>Nope. We just don't have that info. Maybe they played for 5 minutes, or 5 days. If you can get access to their computer when logged in you can type '/played' to find out how long in total they've played on that toon.</dd>
	<dt>How do I get their server and username?</dt>
	<dd>You'll have to be creative. Probably the easiest way is feigning interest and asking them about it. Exact spelling of their character name is rather important.</dd>
	<dt>Does it pick up all the characters from their account? What is they create a new toon?</dt>
	<dd>It only gets what you put into it. I have no way of knowing about their alts on the same or other servers. You'll have to be comprehensive in your data acquisition.</dd>
	<dt>How often are updates sent out? </dt>
	<dd>I have a cron job that runs hourly checking on the toons, scheduled for one minute after the hour.</dd>
	<dt>What is this site written in?</dt>
	<dd><a href="http://www.ruby-lang.org/en/">Ruby 1.8.7</a> using the <a href="http://www.sinatrarb.com/">Sinatra</a> framework. The database is mysql running with <a href="http://sequel.rubyforge.org/">Sequel</a> as the ORM. The page is written in HTML5. There's some CSS3 elements, like rounded corners as well. I haven't and will not test for IE. I'm using Chrome/Safari/Firefox on my Mac. Hosted on <a href="https://manage.slicehost.com/customers/new?referrer=b28ee356bdbe1d5ab67808a8bb6e61c4">Slicehost</a>.</dd>
	<dt>Why did you write this?</dt>
	<dd>I wanted to mess around with the new Armory feeds and to have a small, easily completed weekend project. Too often my projects are large in scope and take months.</dd>
	<dt>I'm getting emails from you that I no longer (or never) wanted.</dt>
	<dd>Sorry about that. Shoot me an email and I'll remove you.</dd>
	<dt>Wait a sec- my gaming is my own business, who are you to monitor me? This is unconstitutional!</dt>
	<dd>More pew pew, less QQ n00b. I'm just looking at the feeds straight from Blizzard. Take it up with them if you hate the Armory or want an opt-out.</dd>
	<dt>Stop monitoring my character now!</dt>
	<dd>No thanks. This is kinda fun. If you wanna try to gank my on WoW, I'll turn my PvP flag on to make you feel better.</dd>
	<dt>Do you hate Warcraft and gamers?</dt>
	<dd>Absolutely not. I play WoW myself, primarily as Pugnii, the undead rogue on Argent Dawn. Feel free to track my gameplay. I've worked for gaming companies for a while and love games. Yet I know that sometimes it is too easy to get into the gaming and not realize how much time you've sunk into it. Sometimes you get slack on your real responsibilities in life, and sometimes you need someone to pull you put of it.</dd>
</dl>