<h2>Is someone you know a Warcraft addict?</h2>
<p>Are they lying about their play? Do you yourself lose track of how often you play?</p>
<p>Track World of Warcraft usage and receive email updates shortly after a user plays.</p>
<p>If you don't know of an account, try tracking mine. I'm <em>Pugnii</em> on <em>Argent Dawn</em>. </p>
<form action="/new_player" method="post">
	<fieldset>
		<p>Fill in information for each character/toon you wish to track.</p>
		<p>Spelling of the character name must be accurate. Do not include titles.</p>
	<input type="text" name="post[playername]" /> - Character name<br />
	<select name="post[server]">
		<option value="">--</option><option  >Aegwynn</option>
		<option  >Aerie Peak</option>
		<option  >Agamaggan</option>
		<option  >Aggramar</option>
		<option  >Akama</option>
		<option  >Alexstrasza</option>
		<option  >Alleria</option>
		<option  >Altar of Storms</option>
		<option  >Alterac Mountains</option>
		<option  >Aman'Thul</option>
		<option  >Andorhal</option>
		<option  >Anetheron</option>
		<option  >Antonidas</option>
		<option  >Anub'arak</option>
		<option  >Anvilmar</option>
		<option  >Arathor</option>
		<option  >Archimonde</option>
		<option  >Area 52</option>
		<option  >Argent Dawn</option>
		<option  >Arthas</option>
		<option  >Arygos</option>
		<option  >Auchindoun</option>
		<option  >Azgalor</option>
		<option  >Azjol-Nerub</option>
		<option  >Azshara</option>
		<option  >Azuremyst</option>
		<option  >Baelgun</option>
		<option  >Balnazzar</option>
		<option  >Barthilas</option>
		<option  >Black Dragonflight</option>
		<option  >Blackhand</option>
		<option  >Blackrock</option>
		<option  >Blackwater Raiders</option>
		<option  >Blackwing Lair</option>
		<option  >Blade's Edge</option>
		<option  >Bladefist</option>
		<option  >Bleeding Hollow</option>
		<option  >Blood Furnace</option>
		<option  >Bloodhoof</option>
		<option  >Bloodscalp</option>
		<option  >Bonechewer</option>
		<option  >Borean Tundra</option>
		<option  >Boulderfist</option>
		<option  >Bronzebeard</option>
		<option  >Burning Blade</option>
		<option  >Burning Legion</option>
		<option  >Caelestrasz</option>
		<option  >Cairne</option>
		<option  >Cenarion Circle</option>
		<option  >Cenarius</option>
		<option  >Cho'gall</option>
		<option  >Chromaggus</option>
		<option  >Coilfang</option>
		<option  >Crushridge</option>
		<option  >Daggerspine</option>
		<option  >Dalaran</option>
		<option  >Dalvengyr</option>
		<option  >Dark Iron</option>
		<option  >Darkspear</option>
		<option  >Darrowmere</option>
		<option  >Dath'Remar</option>
		<option  >Dawnbringer</option>
		<option  >Deathwing</option>
		<option  >Demon Soul</option>
		<option  >Dentarg</option>
		<option  >Destromath</option>
		<option  >Dethecus</option>
		<option  >Detheroc</option>
		<option  >Doomhammer</option>
		<option  >Draenor</option>
		<option  >Dragonblight</option>
		<option  >Dragonmaw</option>
		<option  >Drak'Tharon</option>
		<option  >Drak'thul</option>
		<option  >Draka</option>
		<option  >Drakkari</option>
		<option  >Dreadmaul</option>
		<option  >Drenden</option>
		<option  >Dunemaul</option>
		<option  >Durotan</option>
		<option  >Duskwood</option>
		<option  >Earthen Ring</option>
		<option  >Echo Isles</option>
		<option  >Eitrigg</option>
		<option  >Eldre'Thalas</option>
		<option  >Elune</option>
		<option  >Emerald Dream</option>
		<option  >Eonar</option>
		<option  >Eredar</option>
		<option  >Executus</option>
		<option  >Exodar</option>
		<option  >Farstriders</option>
		<option  >Feathermoon</option>
		<option  >Fenris</option>
		<option  >Firetree</option>
		<option  >Fizzcrank</option>
		<option  >Frostmane</option>
		<option  >Frostmourne</option>
		<option  >Frostwolf</option>
		<option  >Galakrond</option>
		<option  >Garithos</option>
		<option  >Garona</option>
		<option  >Garrosh</option>
		<option  >Ghostlands</option>
		<option  >Gilneas</option>
		<option  >Gnomeregan</option>
		<option  >Gorefiend</option>
		<option  >Gorgonnash</option>
		<option  >Greymane</option>
		<option  >Grizzly Hills</option>
		<option  >Gul'dan</option>
		<option  >Gundrak</option>
		<option  >Gurubashi</option>
		<option  >Hakkar</option>
		<option  >Haomarush</option>
		<option  >Hellscream</option>
		<option  >Hydraxis</option>
		<option  >Hyjal</option>
		<option  >Icecrown</option>
		<option  >Illidan</option>
		<option  >Jaedenar</option>
		<option  >Jubei'Thos</option>
		<option  >Kael'thas</option>
		<option  >Kalecgos</option>
		<option  >Kargath</option>
		<option  >Kel'Thuzad</option>
		<option  >Khadgar</option>
		<option  >Khaz'goroth</option>
		<option  >Khaz Modan</option>
		<option  >Kil'jaeden</option>
		<option  >Kilrogg</option>
		<option  >Kirin Tor</option>
		<option  >Korgath</option>
		<option  >Korialstrasz</option>
		<option  >Kul Tiras</option>
		<option  >Laughing Skull</option>
		<option  >Lethon</option>
		<option  >Lightbringer</option>
		<option  >Lightning's Blade</option>
		<option  >Lightninghoof</option>
		<option  >Llane</option>
		<option  >Lothar</option>
		<option  >Madoran</option>
		<option  >Maelstrom</option>
		<option  >Magtheridon</option>
		<option  >Maiev</option>
		<option  >Mal'Ganis</option>
		<option  >Malfurion</option>
		<option  >Malorne</option>
		<option  >Malygos</option>
		<option  >Mannoroth</option>
		<option  >Medivh</option>
		<option  >Misha</option>
		<option  >Mok'Nathal</option>
		<option  >Moon Guard</option>
		<option  >Moonrunner</option>
		<option  >Mug'thol</option>
		<option  >Muradin</option>
		<option  >Nagrand</option>
		<option  >Nathrezim</option>
		<option  >Nazgrel</option>
		<option  >Nazjatar</option>
		<option  >Ner'zhul</option>
		<option  >Nesingwary</option>
		<option  >Nordrassil</option>
		<option  >Norgannon</option>
		<option  >Onyxia</option>
		<option  >Perenolde</option>
		<option  >Proudmoore</option>
		<option  >Quel'dorei</option>
		<option  >Quel'Thalas</option>
		<option  >Ragnaros</option>
		<option  >Ravencrest</option>
		<option  >Ravenholdt</option>
		<option  >Rexxar</option>
		<option  >Rivendare</option>
		<option  >Runetotem</option>
		<option  >Sargeras</option>
		<option  >Saurfang</option>
		<option  >Scarlet Crusade</option>
		<option  >Scilla</option>
		<option  >Sen'jin</option>
		<option  >Sentinels</option>
		<option  >Shadow Council</option>
		<option  >Shadowmoon</option>
		<option  >Shadowsong</option>
		<option  >Shandris</option>
		<option  >Shattered Halls</option>
		<option  >Shattered Hand</option>
		<option  >Shu'halo</option>
		<option  >Silver Hand</option>
		<option  >Silvermoon</option>
		<option  >Sisters of Elune</option>
		<option  >Skullcrusher</option>
		<option  >Skywall</option>
		<option  >Smolderthorn</option>
		<option  >Spinebreaker</option>
		<option  >Spirestone</option>
		<option  >Staghelm</option>
		<option  >Steamwheedle Cartel</option>
		<option  >Stonemaul</option>
		<option  >Stormrage</option>
		<option  >Stormreaver</option>
		<option  >Stormscale</option>
		<option  >Suramar</option>
		<option  >Tanaris</option>
		<option  >Terenas</option>
		<option  >Terokkar</option>
		<option  >Thaurissan</option>
		<option  >The Forgotten Coast</option>
		<option  >The Scryers</option>
		<option  >The Underbog</option>
		<option  >The Venture Co</option>
		<option  >Thorium Brotherhood</option>
		<option  >Thrall</option>
		<option  >Thunderhorn</option>
		<option  >Thunderlord</option>
		<option  >Tichondrius</option>
		<option  >Tortheldrin</option>
		<option  >Trollbane</option>
		<option  >Turalyon</option>
		<option  >Twisting Nether</option>
		<option  >Uldaman</option>
		<option  >Uldum</option>
		<option  >Undermine</option>
		<option  >Ursin</option>
		<option  >Uther</option>
		<option  >Vashj</option>
		<option  >Vek'nilash</option>
		<option  >Velen</option>
		<option  >Warsong</option>
		<option  >Whisperwind</option>
		<option  >Wildhammer</option>
		<option  >Windrunner</option>
		<option  >Winterhoof</option>
		<option  >Wyrmrest Accord</option>
		<option  >Ysera</option>
		<option  >Ysondre</option>
		<option  >Zangarmarsh</option>
		<option  >Zul'jin</option>
		<option  >Zuluhed</option>
	</select> - Server name<br />
	<input type="text" name="post[email]" /> - Your email address<br />
	<input type="submit" />
	</fieldset>
</form>
<br />



