<p>You've attempted to registered alerts for <%= @player_name %>.</p>
<p>However, we've been unable to find any record for that player. Check the name spelling, make sure you selected the right server and <a href="/">try again</a>.</p>
